/* (A) GENERAL FORM STYLES */
#todo-wrap input {
    box-sizing: border-box;
}

#todo-wrap input {
    padding: 10px;
}

#todo-wrap input[type=button],
#todo-wrap input[type=submit] {
    color: #fff;
    cursor: pointer;
}

/* (B) WHOLE CONTAINER */
#todo-wrap {
    max-width: 500px;
    background: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
}

/* (C) HEADER  */
#todo-wrap h1 {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

/* (D) ADD ITEM  */
#todo-add {
    display: flex;
}

#todo-item {
    width: 85%;
}

#todo-save {
    width: 15%;
    background: #5866CF;
    border: 2px solid #5866CF;
}

/* (E) DELETE ITEMS */
#todo-del {
    margin: 10px 0;
}

#todo-del input {
    background: #CF585C;
    border: 2px solid #CF585C;
}

/* (F) LIST ITEMS */
/* (F1) ITEM ROW */
.todo-row {
    display: flex;
    margin-top: 10px;
}

/* (F2) ITEM TEXT */
.todo-item {
    width: 100%;
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
}

.todo-item.cx {
    background: #FFE1D7;
    text-decoration: line-through;
}

.todo-item.done {
    background: #DCFFD7;
    text-decoration: line-through;
}

/* (F3) CANCEL AND OK BUTTONS */
.todo-cx,
.todo-ok {
    width: 50px;
}

.todo-cx {
    background: #CF585C;
    border: 2px solid #CF585C;
}

.todo-ok {
    background: #4AA53D;
    border: 2px solid #4AA53D;
}

/* (G) DOES NOT MATTER */
html,
body,
input {
    font-family: arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}